/* custom font Jakarta pro plus and sora */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@300;400;600;800&family=Sora:wght@300;500;700&display=swap');
/* @import 'react-date-range/dist/styles.css'; // main style file
@import 'react-date-range/dist/theme/default.css'; // theme css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
	width: 0px;
	height: 0;
	border-radius: 0px;
	background-color: transparent;
}


/* for firefox */
.scrollbar {
	scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #00000033;
	border-radius: 1px;
	/* border: 2px solid #555555; */
}

main {
	min-height: calc(100vh - 541.328px);
}

.productCardHover img {
	@apply scale-[1.5] duration-75;
}

.select {
	appearance: none;
	background-image: url('../src/assets/icons/Vector.svg');
	background-repeat: no-repeat;
	background-position: right 0.8rem top 50%;
	background-size: 0.65rem auto;
}

select option:checked {
	background-color: #f2c852 !important;
}

select option:focus {
	background-color: #f2c852 !important;
}

select option:hover {
	background-color: yellow;
}
textarea{
	resize: none !important;
}

.lazy-loading{
	@apply bg-[length:400%] bg-gradient-to-r from-gray-200 via-white to-gray-200 animate-loading
}


/* Calendar */
.rdrDefinedRangesWrapper {
    display: none;
}

